body {
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#avatar {
  position: relative;
  width: 256px;
  margin: 40px auto;
}

#face {
  width: 100%;
}

#mouth {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 40px;
  height: 10px;
  background: black;
  border-radius: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
